useDynLib(mvstpp, .registration=TRUE)

export("FMvariogram")
export("gsp")
export("gte")
export("stdcpp")
export("sthpcpp")

import(splancs)
import(spatstat)
import(stpp)
import(geoR)

importFrom("KernSmooth","dpik")
