useDynLib(mvstpp)
exportPattern("^[[:alpha:]]+")

import(splancs)
import(spatstat)
import(KernSmooth)
import(stpp)

importFrom("stats", "dist", "rpois", "runif")
importFrom("geoR","variog","variofit")